# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\django dev\django_blog_post\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
